<% layout("/layouts/boilerplate") %>

<div class="row mt-5">
    <div class="alert alert-danger col-6 offset-3 text-center" role="alert">
        <h1>Error <%= err.statusCode %> 😥</h1>
        <p><%= err.message %></p>
    </div>
</div>
